@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #101010;
  --foreground: #999999;
}

body {
  color: var(--foreground);
  background: var(--background);
}

.prose a:not(.anchor) {
  @apply text-accent no-underline hover:underline;
}

.prose a.anchor {
  @apply relative no-underline;
}

.prose a.anchor::before {
  @apply absolute -left-4 opacity-0 transition-opacity duration-200 content-['#'];
}

.prose a.anchor:hover::before {
  @apply opacity-100;
}

.prose pre {
  @apply overflow-x-auto border border-vesper-border bg-vesper-bg my-4 rounded-none;
}

.prose code:not(pre code) {
  @apply px-1 py-0.5 text-sm border border-vesper-border rounded text-vesper-text;
}

.prose code:not(pre code)::before,
.prose code:not(pre code)::after {
  content: none;
}

.prose pre code {
  @apply p-4 block bg-transparent;
  border: initial;
  line-height: 1.6;
}
