@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: theme('colors.secondary');
  background: theme('colors.background');
}

.prose a:not(.anchor) {
  @apply text-accent no-underline hover:underline;
}

.prose a.anchor {
  @apply no-underline;
}

.prose pre {
  @apply overflow-x-auto border border-border bg-background my-6;
}

.prose code:not(pre code) {
  @apply px-1 py-0.5 text-sm border border-border text-primary;
}

.prose code:not(pre code)::before,
.prose code:not(pre code)::after {
  content: none;
}

.prose pre code {
  @apply p-4 block bg-transparent;
  border: initial;
  line-height: 1.6;
}
